.header {
    background: #fff;
    color: #3C403D;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo {
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    cursor: pointer;
    padding: none;
    margin: none;
}

.brandName {
    margin-left: 1rem;
}

.container {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0rem 1rem;
    
}

.navigationMenu {
    margin-left: auto;
    display: flex;
    gap: 2.5rem;
    padding-top: .5rem;
}

.navigationMenu ul {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.navigationMenu li {
    list-style-type: none;
    margin: 1rem 1rem;
}
.container button {
    font-size: 1rem;
    cursor: pointer;
    color: #3C403D;
    background-color: transparent;
    border: none;
    position: relative;
}

.container button:not(.activeClass)::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #3C403D;
    left: 0;
    bottom: -5px;
    transform: scale(0,1);
    transition: transform 0.5s ease;
    transform-origin: 0 100%;
}

.container button:not(.activeClass):hover::before {
    transform: scale(1,1);
}

.container button.activeClass::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #3C403D;
    bottom: -5px;
    left: 0;
}

.hamburger {
    border: 0;
    height: 40px;
    width: 50px;
    padding: 1.5rem 0.5rem;
    margin-left: 3rem;
    cursor: pointer;
    position: fixed;
    margin-top: 1rem;
    transform: translateY(-50%);
    display: none;
  }


  @media screen and (max-width: 768px) {
    .navigationMenu ul {
      display: none;
  }
    .hamburger {
      display: block;
    }
  
  }

  @media screen and (max-width: 768px) {

    .navigationMenuExpanded ul {
      position: absolute;
      top: 5rem;
      left: 0;
      padding: 0;
      width: 100%;
      flex-direction: column;
      background-color: white;
      border-top: 1px solid black;
      z-index: -1;
      display: block;
    }
    .navigationMenuExpanded li {
      text-align: center;
      margin: 0;
      z-index: 1;
      padding: 1rem 0;
    }

    .navigationMenuExpanded li:hover {
      background-color: #eee;
    }
  }

  /* @media screen and (max-width: 768px) {
    .navigationMenuExpanded ul {
      display: block;
    }
  } */