.rentalsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    background: #fff;
    width: 100%;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
.card {
    display: flex;
    width: 18rem;
    height: 32rem;
    margin: 0 2.5rem;
    border:none;
  }

  .card img {
    width: 18rem;
    height: auto;
  }

  .h3{
    font-size: 3rem;
    margin: 2rem ;
  }

  .h2 {
    margin-top: 1rem;;
  }
