.rentalsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.col{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem;
  }
  
  .h3{
    color: black;
      text-align: center;
      font-size: 3rem;
      margin: 0;
      padding: 0;
      margin-bottom: 1rem;
    
  }

  .h2 {
      color: black;
      text-align: center;
      font-size: 5rem;
      margin-bottom: 1rem;
      padding: 0;
  }


.town {
  margin-top: 20px;
  width: 100%;
  min-height: 50vh;
  height: auto;
  border-color: #3C403D;
  margin-bottom: 1rem;
  }

.mt {
  margin-top: 20px;
  width: 100%;
  min-height: 50vh;
  height: auto;
  border-color: #3C403D;
  margin-bottom: 1rem;

  }

.south {
    margin-top: 20px;
    width: 100%;
    min-height: 50vh;
    height: auto;
    border-color: #3C403D;
    margin-bottom: 1rem;
  
  }

  .cardImgBlock{
    width: 92%;
    margin: 0 auto;
    position: relative;
    top: -20px;
  }

.img {
  border-radius:5px;
  box-shadow:0 0 10px rgba(0,0,0,0.63);
  width: 100%;
  height: 30vh;
}
.body{
  padding: 0;
  top: -10px;
  position: relative;

}

.p {
  font-size: 1rem;
  
}

.mt:hover{
  
}