@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


* {
  margin: 0;
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: #fff;
}

.secondary-section {
  background: #DADED4;
  width: 100%;
  height: auto;
  min-height: 100vh;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
}

section h2{
  font-size: 5rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'DM Serif Display', serif;
}

p {
  font-family: 'DM Sans', sans-serif;
}
